body {
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-basis: 94%;
  color: #5a7085;
  padding: 40px 2% 20px;
  border-bottom: #1c2b32 2px solid;
}

.nametag {
  display: inline-flex;
  max-height: 120px;
  font-size: 20px;

}

.nametag__image {
  max-width: 120px;
  border-radius: 50%;
  flex-shrink: 1;
}

.nametag__details {
  flex-grow: 2;
  margin-left: 30px;
  align-self: center;
}

.nametag__details__name {
  font-size: 25px;
  color: #1c2b32;
  font-weight: bold;
}

.content {

}

.content__text {
  padding: 10px 2% 10px;
}

.content_text--large, #rotating-content {
  font-size: 16px;
  line-height: 1.25;
}

#rotating-content {
  color: #5a7085;
}

.content__button-container {
  display:flex;
  justify-content: center;
}

.content__button-container__button {
  display: inline-block;
  width:140px;
  background-color: #5a7085;
  border: 3px solid #5a7085;
  border-radius: 30px;
  padding: 8px 0px 10px 0px;
  margin: 23px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.content__button-container__button:first-child {
  margin-left: 12px;
}

.content__button-container__button:hover {
  background-color:transparent;
  color:black;
  font-weight: normal;
}

@media screen and (min-width: 780px) {
  body {
    font-size: 16px;
  }
  .header {
    flex-basis: 61%;
  }
  .content {
    flex-basis: 65%;
  }
  #rotating-content, .content_text--large {
    font-size: 20px;
  }
  .content__button-container__button {
    width: 175px;
  }
}

@media screen and (min-width: 1175px) {
  body {
    font-size: 16px;
  }
  .header {
    flex-basis: 46%;
  }
  .content {
    flex-basis: 50%;
  }
  .content__button-container__button {
    width: 175px;
  }
}
