.col {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

body {
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 33px;
  background: #e4eef8;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

.social, .clients {
  display: none;
}

.fa {
  color: #5a7085;
}

.fa:hover, .fa:focus, .fa:active {
  color: #6e86ce;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  display: block;
  width: 100%;
  color: #5a7085;
  padding: 40px 2% 10px;
  border-bottom: #1c2b32 2px solid;
}

.nametag {
  font-size: 40px;
}

.nametag__image {
  display: block;
  max-width: 230px;
  border-radius: 50%;
  margin: auto;
}

.nametag__details {
  display: block;
  margin: 25px auto 5px auto;
  text-align: center;
}

.nametag__details__name {
  font-size: 48px;
  color: #1c2b32;
  font-weight: bold;
}

.intro {
  padding-top: 12px;
}

.intro__text {
  padding: 10px 20px 10px;
}

.intro_text--large, #rotating-content {
  font-size: 48px;
  line-height: 1.25;
}

#rotating-content {
  color: #5a7085;
}

.mobile-disclaimer {
  font-size: 16px;
  color: #1c2b32;
}

.mobile-button {
  display: inline-block;
  width:230px;
  background-color: #5a7085;
  border: 3px solid #5a7085;
  border-radius: 30px;
  padding: 8px 0px 10px 0px;
  margin: 23px 20px 15px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

.intro__button-container {
  display: none;
}

.portfolio, .skills-interests {
  display: none;
}

.skills {
  display: inline-block;
  padding: 15px 17px 15px 15px;
  margin: 0;
}

.interests {
  display: none;
  padding: 15px 0px;
}

.interests__title {
  color: #1c2b32;
  font-weight: bold;
}

.interests__list {
  display:inline-block;
  padding: 5px 15px;
  margin: 0px;
  color: #6e86ce;
}

.skill, .interest {
  list-style: none;
}

.skill__stars {
  color: #6e86ce;
}

.gray {
  color: gray;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 0px 50px;
  width: 100%;
}

.item__text {
  align-self: center;
  flex: 2 2 auto;
  margin-right: -15px;
}

.align-left .item__text {
  margin-right: 10px;
  margin-left: -15px;
}

.item__text--ipad-iphone {
  margin-right: 10px;
}

.item__text__title {
  width: 100%;
  font-size: 22px;
  color: #1c2b32;
  font-weight: bold;
  text-decoration: none;
}

.item__text__desc__title {
  color: #5a7085;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.item__text__title:hover, .item__text__title:active, .item__text__title:focus, a.link:hover, a.link:active, a.link:focus  {
  color: #6e86ce;
  font-weight: bold;
  text-decoration: none;
}

a.link {
  color: #5a7085;
  text-decoration: none;
}

.item__images {
  display: inline-flex;
  right: 0;
  height: 150px;
}

.item__images--ipad-iphone {
  display: inline-flex;
  height: 150px;
  padding-right: 40px;
  top: 0px;
  left: 0px;
}

.align-left .item__images {
  left: 0;
}

.item__image {
  position: relative;
  transition: all 2s;
}

.item__image--iphone {
  height: 60px;
  z-index: 30;
  left: 46px;
  top: 85px;
}

.align-left .item__image--iphone {
  left: -46px;
}

.item__image--ipad {
  height: 100px;
  z-index: 20;
  left: 25px;
  top: 36px;
}

.align-left .item__image--ipad {
  left: -25px;
}

.item__image--ipad-iphone__ipad {
  height: 150px;
  top: 0px;
  left: 0px;
}

.item__image--ipad-iphone__iphone {
  height: 125px;
  bottom: -24px;
  left: 3px;
}

.item__image--laptop {
  height: 150px;
  z-index: 10;
  right: 0px;
}

.align-left .item__image--laptop {
  left:0;
}

@media only screen and (min-device-width: 780px) and (min-width: 780px) {

  body {
    font-size: 14px;
    background: white;
  }

  /* Expanded Content Handlers End */

  body.expanded div.header {
    flex-basis: 90%;
    transition: all 1s;
  }

  body.expanded div.social {
    display: block;
    text-align: left;
    padding: 0px 1px;
  }

  body.expanded div.intro {
    display: none;
  }

  body.expanded div.portfolio {
    display: block;
    flex-basis: 94%;
  }

  body.expanded div.skills-interests {
    display: flex;
    flex-basis: 94%;
    justify-content: center;
    border-bottom: #1c2b32 2px solid;
  }

  body.expanded div.clients {
    display: flex;
    flex-basis: 94%;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    border-top: #1c2b32 2px solid;
    padding: 20px 0px 75px;
  }

  /* Expanded Content Handlers End */

  .mobile-button, .mobile-disclaimer {
    display: none;
  }

  .header {
    display: flex;
    flex-basis: 65%;
    color: #5a7085;
    padding: 10px 2% 20px;
    border-bottom: #1c2b32 2px solid;
  }

  .nametag {
    display: inline-flex;
    margin: 40px 2% 20px;
    max-height: 120px;
    font-size: 23px;
    line-height: 30px;
  }

  .nametag__image {
    flex-shrink: 1;
    max-width: 120px;
    border-radius: 50%;
  }

  .nametag__details {
    flex-grow: 2;
    align-self: center;
    margin-left: 30px;
  }

  .nametag__details__name {
    text-align: left;
    font-size: 30px;
    color: #1c2b32;
    font-weight: bold;
  }

  .intro {
    flex-basis: 65%;
  }

  .intro__text {
    padding: 10px 0px 10px;
  }

  #rotating-content, .intro_text--large {
    font-size: 20px;
  }

  .intro__button-container {
    display: flex;
    justify-content: center;
  }

  .intro__button-container__button {
    display: inline-block;
    width:175px;
    cursor: pointer;
    background-color: #5a7085;
    border: 3px solid #5a7085;
    border-radius: 30px;
    padding: 8px 0px 10px 0px;
    margin: 23px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }

  .intro__button-container__button:first-child {
    margin-left: 12px;
  }

  .intro__button-container__button:hover {
    background-color: transparent;
    color: black;
    font-weight: normal;
  }

  .clients__title {
    margin-right: 20px;
    align-self: center;
  }

  .clients__logos img {
    margin: 10px;
  }
}

@media only screen and (min-device-width: 840px) and (min-width: 840px) {
  .skills {
    padding: 15px 17px 15px 0px;
  }

  .interests {
    display: inline-block;
  }
}

@media only screen and (min-device-width: 945px) and (min-width: 945px) {
  body {
    font-size: 16px;
  }

  .item__text {
    margin-right: -42px;
  }
  
  .align-left .item__text {
    margin-right: 10px;
    margin-left: -42px;
  }

  .item__text__title {
    font-size: 25px;
  }

  .item__text__desc__title {
    font-size: 20px;
  }

  .item__images {
    height: 225px;
  }

  .item__image--iphone {
    height: 115px;
    z-index: 30;
    left: 80px;
    top: 100px;
  }

  .align-left .item__image--iphone {
    left: -80px;
  }

  .item__image--ipad {
    height: 175px;
    z-index: 20;
    left: 35px;
    top: 26px;
  }

  .align-left .item__image--ipad {
    left: -33px;
  }

  .item__image--laptop {
    height: 225px;
    z-index: 10;
    right: 0px;
  }

  .item__image--ipad-iphone__ipad {
    height: 225px;
  }

  .item__image--ipad-iphone__iphone {
    height: 160px;
    bottom: -39px;
    left: 3px;
  }

  .item__images--ipad-iphone {
    height: 225px;
  }
}

@media only screen and (min-device-width: 1175px) and (min-width: 1175px) {
  body {
    font-size: 16px;
  }
  .header {
    flex-basis: 50%;
  }
  .intro {
    flex-basis: 50%;
  }
  .intro__button-container__button {
    width: 175px;
  }
}
